# === Archivos de Python ===
__pycache__/
*.py[cod]
*$py.class


# === Archivos de configuración locales ===
*.log
*.pot
*.pyc
*.pyo
*.pyd

# === Archivos de base de datos locales (SQLite) ===
db.sqlite3
db.sqlite3-journal

# === Archivos temporales y caché ===
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*~
.cache/
.DS_Store


# === Archivos de migraciones compiladas ===
# (Puedes comentar esta línea si deseas versionarlas)
*/migrations/__pycache__/
*/migrations/*.pyc

